<!-- <h3>Create Contact</h3> -->
<!-- <form>
    {{msg}}
    Contact Name: <input type="text" name="name" [(ngModel)]="contact.name"/><br/>
    Email:<input type="email" name="email" [(ngModel)]="contact.email"/><br/>
    Contact Number:<input type="text" name="phno" [(ngModel)]="contact.phno"/><br/>
    <input type="button" value="submit" (click)="saveContact()">
</form> -->


    <div class="col-md-6 offset-md-3">
        <h2>Create Contact</h2>
        <form (ngSubmit)="onSubmit()">
             
            <div class="form-group">
                <label for="name">Name</label>
                   <input type="text" class="form-control" name="name" id="name"
                    [(ngModel)]="contact.name"> 
             </div>
             <div class="form-group">
                <label for="email">Email</label>
                   <input type="text" class="form-control" name="email" id="email"
                    [(ngModel)]="contact.email"> 
             </div>
             <div class="form-group">
                <label for="phno">Phone</label>
                   <input type="text" class="form-control" name="phno" id="phno"
                    [(ngModel)]="contact.phno"> 
             </div> 
             <br/>
             <div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>  

        </form>
</div>
