<h3>View Contacts</h3>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let contact of contacts">
            <td>{{contact.id}}</td>
            <td>{{contact.name}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.phno}}</td>
            <td>
                <button class="btn btn-info" (click)="editContact(contact.id)">Edit</button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="deleteContact(contact.id)">Delete</button>
            </td>
        </tr>    
    </tbody>
</table>
